body {
  
}

h2 {
  margin:0 0 5% 0;
}

#specialbuttons {
  margin:5% 0 0 0
}

.floating {
  padding:1% 0 0 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.img-proj {
  padding:0% 30%;
}
